<!DOCTYPE html>
<html>
<head>
  <title>Insurance</title>
  <%= stylesheet_link_tag :all %>

  <%= javascript_include_tag 'jquery-1.6.3.min' %>
  <%= javascript_include_tag "rails" %>
  <%= csrf_meta_tag %>
  <%= yield(:head) %>
</head>
<body id = "mainbody">
<div id = "banner">
   The Insurance Snapshot App
</div>
<div id = "columns">
    <div id = "side">
       <p> hello</p>

    </div>
   <div id = "rside">
      <%= render 'devise/menu/registration_items' %>  </br>
     <%= render 'devise/menu/login_items' %>
     <% if user_signed_in? %>
      <%= link_to "Snapshots" , user_path(current_user) %> </br>
     <%= link_to "Add Snapshots", root_path%>
         <% end %>
  </div>
  <div id = "main">
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<ul class="hmenu">


</ul>
<%= yield %>
<%= debug(params) if Rails.env.development? %>
  </div>

 </div>
<div id ="footer">
    <%= render "layouts/footer" %>
</div>

</body>
</html>
